<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/new.css" />

<main>
  <h3><%= title %></h3>
  <form action="/contexts" method="POST">
    <section class="form">
      <div class="col">
        <label for="">When was the reading taken?</label>
        <!-- TODO: [HON-21] can we have a button for now? to auto set the datetime to now? -->
        <input type="date" name="date" id="takenAtDate" />
      </div>
      <div class="col">
        <label for="">Stress Level During the Day:</label>
        <input type="number" name="stress" />
      </div>
      <div class="col">
        <label for="">How was Quality of Sleep Last Night?</label>
        <input type="number" name="sleep" />
      </div>
      <!-- TODO: [HON-20] add a switch at top, and relates with the plus button that if pushed this label should change to were not was -->
      <div class="col">
        <label for="">Will You Have Excercised Today?</label>
        <select name="exercise" id="">
          <option value="true">yes</option>
          <option value="false">no</option>
        </select>
      </div>
      <div class="col">
      <div></div>
      <button type="submit" class="submit" id="submit">Submit</button>
    </div>
  </form>
</main>
<script src="/javascripts/today-date.js"></script>
<%- include('../partials/footer') %>
