<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/new.css" />

<main>
  <h3><%= title %></h3>
  <form action="" method="GET">
    <section class="login-form">
      <div class="col">
        <label for="">Login</label>
        <select name="units" id="login">
          <option value="Login with Google">Login with Google</option>
          <option value="Login with Username">Login with Username</option>
        </select>
      </div>
      <div class="col" id="password-field" style="display: none">
        <label for="time">Password:</label>
        <input type="text" name="password" />
      </div>
    </section>
    <!--this is only for responsive desktop view <div class="col"><button>+</button></div> -->
    <div class="col" id="newSub">
      <button class="submit">New User</button>
      <button type="submit" class="submit" id="submit">Submit</button>
    </div>
  </form>
</main>
<script src="/javascripts/login.js"></script>
<%- include('./partials/footer') %>
