<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/new.css" />

<main>
  <h3><%= title %></h3>
  <form action="/api/users/login" method="POST">
    <section class="login-form">
      <div class="col">
        <label for="">Login</label>
        <select name="units" id="login">
          <!-- <option value="Login with Google">Login with Google</option> -->
          <option value="Login with Username" selected>
            Login with Username
          </option>
        </select>
      </div>
      <div class="col" id="username-field">
        <label for="email">Email:</label>
        <input type="email" name="email" value="demo@demo.com" />
      </div>
      <div class="col" id="password-field">
        <label for="time">Password:</label>
        <input type="password" name="password" value="demo" />
      </div>
    </section>
    <!--this is only for responsive desktop view <div class="col"><button>+</button></div> -->
    <div class="col newSub">
      <!-- <a href="/api/users/new">Signup</a> -->
      <a href="/api/users/new">
        <button type="button" class="submit">Signup</button>
      </a>
      <button type="submit" class="submit" id="submit">Login</button>
    </div>
  </form>
</main>
<script src="/javascripts/login.js"></script>
<%- include('./partials/footer') %>
