<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/sugars/">See all Readings</a>
      <a href="/sugars/new">Add a Reading</a>
    </header>
  </body>
</html>
