<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/sugars/">See all Readings</a>
      <a href="/sugars/new">Add a Reading</a>
    </header>
  </body>
</html>
