<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/new.css" />

<section>
  <h3><%= title %></h3>
  <form action="/sugars" method="POST">
    <div class="col">
      <label for="">Blood sugar reading value:</label>
      <input type="text" name="reading" />
    </div>
    <!-- TODO: [HON-20] add a switch at top, and relates with the plus button that if pushed this label should change to were not was -->
    <div class="col">
      <label for="">What units was the reading taken with?</label>
      <select name="units" id="">
        <option value="mmol/L">mmol/L</option>
        <option value="mg/dL">mg/dL</option>
      </select>
    </div>
    <div class="col">
      <label for="">Reading with respect to meals:</label>
      <select name="readingType" id="">
        <option value="pre-meal">pre-meal</option>
        <option value="post-meal">post-meal</option>
        <option value="fasting">fasting</option>
      </select>
    </div>
    <div class="col">
      <label for="">When was the reading taken?</label>
      <!-- TODO: [HON-21] can we have a button for now? to auto set the datetime to now? -->
      <input type="date" name="takenAtDate" id="takenAtDate" />
    </div>
    <div class="col">
      <label for="time">Time:</label>
      <input type="time" name="takenAtTime" />
    </div>
    <div class="col"><button type="submit" id="submit">Submit</button></div>
    <!--this is only for responsive desktop view <div class="col"><button>+</button></div> -->
  </form>
</section>
<script src="/javascripts/today-date.js"></script>
<%- include('../partials/footer') %>
